.cards-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select_wrapper {
    display: flex;
    gap: 10px;
    color: #213547;
    font-weight: 500;
}

#select-cards {
    cursor: pointer;
}

.page-content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.page-content_card-wrapper {
    padding-top: 50px;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
