.cards-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.select_wrapper {
    display: flex;
    gap: 10px;
    color: #213547;
    font-weight: 500;
}

#select-cards {
    cursor: pointer;
}

.wrap {
    display: flex;
}
