.paginationWrapper {
    display: flex;
    gap: 5px;
    padding-bottom: 50px;
}

.paginationBtn {
    width: fit-content;
    height: 45px;
    color: black;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    transition: 0.2s;
}

.paginationBtn:hover {
    border-color: #fbdb32 !important;
    background-color: #fbdb32;
}

.paginationBtn:active {
    background-color: #fbdb32;
}

.nextBtn {
    width: 20px;
    height: 20px;
    background-image: url('../../../../assets/icon/next.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.prevBtn {
    width: 20px;
    height: 20px;
    background-image: url('../../../../assets/icon/next.png');
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.activeBtn {
    background-color: #fbdb32;
    border-color: #fbdb32;

    width: fit-content;
    height: 45px;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}
