.navigation-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #ffcb05;
    align-items: center;
    border-bottom: 2px solid black;
}

.navigation-list {
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.title {
    font-family: cursive;
}
